// utils/variables.scss
// ====================




// Breakpoints
// -----------
//$screenLarge: 1440px; // 1440px=90rem
//$screenMediumUp: 1024px; // 1024px=64rem
//$screenMediumDown: 768px; // 768px=48rem
//$screenSmall: 375px; // 375px=23.4375rem

// Breakpoints from Bootstrap
// --------------------------
$screenLarge: 1200px;
$screenMediumUp: 992px;
$screenMediumDown: 768px;
$screenSmall: 576px;


// Bootstrap global variables
// --------------------------

// Toggle global options
$enable-gradients: false; // changed
$enable-shadows: false; // changed





// Colors
// ------

$colorOne: #4C4456;   // navigation active, body text

$colorTwo: #e5e5df;   // navigation basic

$colorThree: #9DA59E; // background

$colorFour: #3B3640;  //

$colorFive: #66616F;  // visited

$colorSix: #FBEC01;   // hover


$text: $colorOne;
//$textDark: $colorOne;

$link: $colorTwo;
$active: $colorOne;
$hover: $colorSix;
$visited: $colorTwo;

$bkg: $colorThree;





// Customize some Bootstrap color defaults
// ---------------------------------------
$body-color: $colorOne;
$body-bg: $colorFour;
$border-radius: .0rem;

$white: $colorOne;
$black: $colorFour;

$navbar-dark-color: rgba($white, 1);
$navbar-light-color: rgba($black, 1);


// Links
// -----

// Style anchor elements.
$link-color:                              $link;
$link-decoration:                         none;
$link-hover-color:                        $hover;
$link-hover-decoration:                   none;