// utils/variables.scss
// ====================





// Bootstrap global variables
// --------------------------

// Toggle global options
$enable-gradients: false; // changed
$enable-shadows: false; // changed





// Colors
// ------

$colorOne: #4C4456;   // navigation active, body text

$colorTwo: #e5e5df;   // navigation basic

$colorThree: #9DA59E; // background

$colorFour: #3B3640;  // hover

$colorFive: #66616F;  // visited

$colorSix: #840c0c;   //


$text: $colorOne;
//$textDark: $colorOne;

$link: $colorTwo;
$active: $colorOne;
$hover: $colorFour;
$visited: $colorFive;

$bkg: $colorThree;





// Customize some Bootstrap color defaults
// ---------------------------------------
$body-color: $colorOne;
$body-bg: $colorThree;
$border-radius: .0rem;

$white: $colorOne;
$black: $colorOne;

$navbar-dark-color: rgba($white, 1);
$navbar-light-color: rgba($black, 1);


// Links
// -----

// Style anchor elements.
$link-color:                              $link;
$link-decoration:                         none !default;
$link-hover-color:                        $hover;
$link-hover-decoration:                   underline;