// pages/music.scss
// ================

// Customize background
// -------------------

// music-discography page
.bkg-music-discography {
  background: url("/music/discography/img/1440x1024.png") no-repeat center center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/music/discography/img/1440x1024.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/music/discography/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  background: url("/music/discography/img/768x1024.png") no-repeat center center fixed; background-size: cover;
  //  @include breakpoint(screenLarge) { background: url("/music/discography/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumUp) { background: url("/music/discography/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumDown) { background: url("/empty/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenSmall) { background: url("/empty/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  //}

  //z-index: -3;
}
// color goes behind img to progressive enhancement
.bkg-music-discography {
  background-color: $body-bg;
}

// music-performances page
.bkg-music-performances {
  background: url("/music/performances/img/1440x1024.png") no-repeat center center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/music/performances/img/1440x1024.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/music/performances/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  background: url("/music/performances/img/768x1024.png") no-repeat center center fixed; background-size: cover;
  //  @include breakpoint(screenLarge) { background: url("/music/performances/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumUp) { background: url("/music/performances/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumDown) { background: url("/empty/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenSmall) { background: url("/empty/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  //}

  //z-index: -3;
}
// color goes behind img to progressive enhancement
.bkg-music-performances {
  background-color: $body-bg;
}
