// pages/news.scss
// ================

// Customize background
// -------------------

.blog-bkg-news {
  background: url("/news/img/1440x1024.png") no-repeat center center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/news/img/1440x1024.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/news/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  background: url("/news/img/768x1024.png") no-repeat center center fixed; background-size: cover;
  //  @include breakpoint(screenLarge) { background: url("/news/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumUp) { background: url("/news/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumDown) { background: url("/empty/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenSmall) { background: url("/empty/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  //}

  //z-index: -3;
}
// color goes behind img to progressive enhancement
.blog-bkg-news {
  background-color: $body-bg;
}