// pages/non-music.scss
// ================

// Customize background
// -------------------

// non-music-film page
.bkg-non-music-film {
  background: url("/non-music/film/img/1440x1024.png") no-repeat left center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/non-music/film/img/1440x1024.png") no-repeat left center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/non-music/film/img/1024x768.png") no-repeat left center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/non-music/film/img/1024x768.png") no-repeat left center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/non-music/film/img/1024x768.png") no-repeat left center fixed; background-size: cover; }

  // condition for a portrait layout
  @media (max-aspect-ratio: 1/1) {
    background: url("/non-music/film/img/768x1024.png") no-repeat center center fixed; background-size: cover;
    @include breakpoint(screenLarge) { background: url("/non-music/film/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
    @include breakpoint(screenMediumUp) { background: url("/non-music/film/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
    @include breakpoint(screenMediumDown) { background: url("/non-music/film/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
    @include breakpoint(screenSmall) { background: url("/non-music/film/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  }

  z-index: -3;
}
// color goes behind img to progressive enhancement
.bkg-non-music-film {
  background-color: $body-bg;
}


// non-music-text page
.bkg-non-music-text {
  background: url("/non-music/text/img/1440x1024.png") no-repeat left center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/non-music/text/img/1440x1024.png") no-repeat left center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/non-music/text/img/1024x768.png") no-repeat left center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/non-music/text/img/1024x768.png") no-repeat left center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/non-music/text/img/1024x768.png") no-repeat left center fixed; background-size: cover; }

  // condition for a portrait layout
  @media (max-aspect-ratio: 1/1) {
    background: url("/non-music/text/img/768x1024.png") no-repeat center center fixed; background-size: cover;
    @include breakpoint(screenLarge) { background: url("/non-music/text/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
    @include breakpoint(screenMediumUp) { background: url("/non-music/text/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
    @include breakpoint(screenMediumDown) { background: url("/non-music/text/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
    @include breakpoint(screenSmall) { background: url("/non-music/text/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  }

  z-index: -3;
}
// color goes behind img to progressive enhancement
.bkg-non-music-text {
  background-color: $body-bg;
}