// pages/press.scss
// ================





// Customize background
// -------------------





// Articles page
// -------------------

.blog-bkg-press-articles {
  background: url("/press/articles/img/1440x1024.png") no-repeat center center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/press/articles/img/1440x1024.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/press/articles/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  background: url("/press/articles/img/768x1024.png") no-repeat center center fixed; background-size: cover;
  //  @include breakpoint(screenLarge) { background: url("/press/articles/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumUp) { background: url("/press/articles/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumDown) { background: url("/empty/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenSmall) { background: url("/empty/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  //}

  //z-index: -3;
}
// color goes behind img to progressive enhancement
.blog-bkg-press-articles {
  background-color: $body-bg;
}





// Interview page
// ----------

.blog-bkg-press-interview {
  background: url("/press/interview/img/1440x1024.png") no-repeat center center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/press/interview/img/1440x1024.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/press/interview/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  background: url("/press/interview/img/768x1024.png") no-repeat center center fixed; background-size: cover;
  //  @include breakpoint(screenLarge) { background: url("/press/interview/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumUp) { background: url("/press/interview/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumDown) { background: url("/empty/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenSmall) { background: url("/empty/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  //}

  //z-index: -3;
}
// color goes behind img to progressive enhancement
.blog-bkg-press-interview {
  background-color: $body-bg;
}




// Press page
// ----------

.blog-bkg-press {
  background: url("/unused/img/1440x1024.png") no-repeat center center fixed; background-size: cover;
  @include breakpoint(screenLarge) { background: url("/unused/img/1440x1024.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumUp) { background: url("/unused/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenMediumDown) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }
  @include breakpoint(screenSmall) { background: url("/empty/img/1024x768.png") no-repeat center center fixed; background-size: cover; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  background: url("/unused/img/768x1024.png") no-repeat center center fixed; background-size: cover;
  //  @include breakpoint(screenLarge) { background: url("/unused/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumUp) { background: url("/unused/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenMediumDown) { background: url("/empty/img/768x1024.png") no-repeat center center fixed; background-size: cover; }
  //  @include breakpoint(screenSmall) { background: url("/empty/img/320x568.png") no-repeat center center fixed; background-size: cover; }
  //}

  //z-index: -3;
}
// color goes behind img to progressive enhancement
.blog-bkg-press {
  background-color: $body-bg;
}

