// layout/navigation.scss
// ======================

// underline hover animation
// https://codepen.io/jstn/pen/zuDst
nav > ul {
  display: table;
  text-align: center;
}
nav > li {
  display: table-cell;
  position: relative;
}

// Sub-navigation
// --------------

ul.blog-nav-sub {
  display: table;
  text-align: left;

  // line under first line
  &>li:first-child a {
    border-bottom: 1px dotted $colorTwo;
  }

  border-left: 1px solid $colorTwo;
  transition: border-left 0.3s ease 0s;
  &:hover {
    border-left: 1px solid $hover;
  }

  & a.draw:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    background: $hover;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  & a.draw:hover:after {
    width: 100%; left: 0%;
  }
}