// layout/navigation.scss
// ======================

// underline hover animation
// https://codepen.io/jstn/pen/zuDst
ul {
  display: table;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
}
a {
  display: inline-block;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: $hover;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 60%; left: 20%;
  //@include breakpoint(screenLarge) { width: 60%; left: 20%; }
  //@include breakpoint(screenMediumUp) { width: 6%; left: 47%; }
  //@include breakpoint(screenMediumDown) { width: 6%; left: 47%; }
  //@include breakpoint(screenSmall) { width: 6%; left: 47%; }

  // condition for a portrait layout
  //@media (max-aspect-ratio: 1/1) {
  //  width: 60%; left: 20%;
    //@include breakpoint(screenLarge) { width: 8%; left: 46%; }
    //@include breakpoint(screenMediumUp) { width: 8%; left: 46%; }
    //@include breakpoint(screenMediumDown) { width: 10%; left: 45%; }
    //@include breakpoint(screenSmall) { width: 20%; left: 40%; }
  //}
}
//@media screen and (max-height: 300px) {
//  ul {
//    margin-top: 20px;
//  }
//}
