// base/base.scss
// ==============





// Smooth scroll
// -------------

html {
  scroll-behavior: smooth;
}





// Images
// ------

img.blog-img-border-light {
  border: solid 1px $colorTwo;
  transition: border-color 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

img.blog-img-border-dark {
  border: solid 1px $colorOne;
  transition: border 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

img.blog-img-border-neutral {
  border: solid 1px $colorThree;

  //transition: border-color 0.5s ease 0s;
  //a:hover > & {
  //  border: solid 1px $hover;
  //}
}

img.blog-img-animate {
  clip-path: circle(40%);

  transition: clip-path 0.5s ease 0s;
  a:hover > & {
    clip-path: circle(100%);
  }
}





// underline
// ---------

.blog-underline-light-hover {
  border-bottom: 1px solid $colorTwo;
  transition: border-bottom 0.3s ease 0s;
  &:hover {
    border-bottom: 1px solid $hover;
  }
}

.blog-underline-dark-hover {
  border-bottom: 1px solid $colorFive;
  transition: border-bottom-color 0.5s ease 0s;
  &:hover {
    border-bottom: 1px solid $hover;
  }
}

.blog-underline-light-no-hover {
  border-bottom: 1px solid $colorTwo;
}

.blog-underline-dark-no-hover {
  border-bottom: 1px solid $text;
}

.blog-nav-underline-light {
  //border-bottom: 1px solid $colorTwo;
  //@include breakpoint(screenLarge) { border-bottom: 1px solid $colorTwo; }
  //@include breakpoint(screenMediumUp) { border-bottom: 1px solid $colorTwo; }
  @include breakpoint(screenMediumDown) { border-bottom: 1px solid $colorTwo; padding-bottom: 1rem; }
  @include breakpoint(screenSmall) { border-bottom: 1px solid $colorTwo; padding-bottom: 1rem; }
}

