// base/base.scss
// ==============

// Smooth scroll
// -------------

html {
  scroll-behavior: smooth;
}



// Images
// ------

img.blog-img-border-light {
  border: solid 1px $colorTwo;
  transition: border-color 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

img.blog-img-border-dark {
  border: solid 1px $colorOne;
  transition: border-color 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

img.blog-img-border-neutral {
  border: solid 1px $colorThree;
  transition: border-color 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

// underline
// ---------

.blog-underline-light {
  border-bottom: 1px solid $colorTwo;
  transition: border-bottom 0.3s ease 0s;
  &:hover {
    border-bottom: 1px solid $hover;
  }
}

.blog-underline-dark {
  border-bottom: 1px solid $colorFive;
  transition: border-bottom 0.3s ease 0s;
  &:hover {
    border-bottom: 1px solid $hover;
  }
}

