// base/base.scss
// ==============





// Smooth scroll
// -------------

html {
  scroll-behavior: smooth;
}





// Color Background
// ----------------

.blog-bkg-light {
  background-color: $colorTwo;
}
.blog-bkg-dark {
  background-color: $colorFour;
}
.blog-bkg-neutral {
  background-color: $colorThree;
}




// Images
// ------

img.blog-img-border-light {
  border: solid 1px $colorTwo;
  transition: border-color 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

img.blog-img-border-dark {
  border: solid 1px $colorOne;
  transition: border 0.5s ease 0s;
  a:hover > & {
    border: solid 1px $hover;
  }
}

img.blog-img-border-neutral {
  border: solid 1px $colorThree;

  //transition: border-color 0.5s ease 0s;
  //a:hover > & {
  //  border: solid 1px $hover;
  //}
}

img.blog-img-animate {
  clip-path: circle(40%);

  transition: clip-path 1.5s ease 0s;
  a:hover > & {
    clip-path: circle(100%);
  }
}





// Underline
// ---------

.blog-underline-light-hover {
  border-bottom: 1px dotted $colorTwo;
  transition: border-bottom 0.3s ease 0s;
  &:hover {
    border-bottom: 1px dotted $hover;
  }
}

.blog-underline-dark-hover {
  border-bottom: 1px dotted $colorFive;
  transition: border-bottom-color 0.5s ease 0s;
  &:hover {
    border-bottom: 1px dotted $hover;
  }
}

.blog-underline-light-no-hover {
  border-bottom: 1px dotted $colorTwo;
}

.blog-underline-dark-no-hover {
  border-bottom: 1px dotted $text;
}

.blog-nav-underline-light {
  //border-bottom: 1px dotted $colorTwo;
  //@include breakpoint(screenLarge) { border-bottom: 1px dotted $colorTwo; }
  //@include breakpoint(screenMediumUp) { border-bottom: 1px dotted $colorTwo; }
  @include breakpoint(screenMediumDown) { border-bottom: 1px dotted $colorTwo; padding-bottom: 1rem; }
  @include breakpoint(screenSmall) { border-bottom: 1px dotted $colorTwo; padding-bottom: 1rem; }
}





// Above Line
// ----------

.blog-nav-aboveline-light {
  border-top: 1px dotted $colorTwo;
  @include breakpoint(screenLarge) { border-top: 1px dotted $colorTwo; }
  @include breakpoint(screenMediumUp) { border-top: 1px dotted $colorTwo; }
  @include breakpoint(screenMediumDown) { border-top: 1px dotted $colorTwo; padding-top: 1rem; }
  @include breakpoint(screenSmall) { border-top: 1px dotted $colorTwo; padding-top: 1rem; }
}

.blog-nav-aboveline-dark {
  border-top: 1px dotted $colorOne;
  @include breakpoint(screenLarge) { border-top: 1px dotted $colorOne; }
  @include breakpoint(screenMediumUp) { border-top: 1px dotted $colorOne; }
  @include breakpoint(screenMediumDown) { border-top: 1px dotted $colorOne; padding-top: 1rem; }
  @include breakpoint(screenSmall) { border-top: 1px dotted $colorOne; padding-top: 1rem; }
}

.blog-nav-aboveline-neutral {
  border-top: 1px dotted $colorThree;
  @include breakpoint(screenLarge) { border-top: 1px dotted $colorThree; }
  @include breakpoint(screenMediumUp) { border-top: 1px dotted $colorThree; }
  @include breakpoint(screenMediumDown) { border-top: 1px dotted $colorThree; padding-top: 1rem; }
  @include breakpoint(screenSmall) { border-top: 1px dotted $colorThree; padding-top: 1rem; }
}

