// base/typography.scss
// ====================

// Font face
// ---------

@font-face {
    font-family: "opensans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "roboto-cond";
    src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
    font-weight: 400;
    font-style: normal;
}




// Font size
// ---------

.blog-text-bigger {
  font-size: larger;
}





// Font for project
// ----------------

//$fontSize: calc((1em + 1vw) * 0.5);
//@media screen and (min-width: 50em) { $font-size: 1.25vw; }
//@media screen and (min-width: 75em) { $font-size: 1.0em; }

$lineHeight: 1.5;


address,
p,
cite,
figcaption,
time {
	font-family: "opensans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: $text;
	//font-style: normal;
    //font-weight: 200;
	font-size: 100%;
	line-height: $lineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6,
.blog-text-second {
  font-family: "roboto-cond","Roboto Condensed",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: $text;
}

a {
  transition: color 0.5s ease 0s;
  @include links($link, $visited, $hover, $active);
}





// Text color
// ----------

.blog-text-light {
  color: $colorTwo;

  & > li > a {
    color: $colorTwo;
    transition: color 0.5s ease 0s;

    &:hover {
      color: $hover;
    }
  }
}
.blog-text-dark {
  color: $text;

  & > li > a {
    color: $text;
    transition: color 0.5s ease 0s;

    &:hover {
      color: $hover;
    }
  }
}
.blog-text-neutral{
  color: $colorThree;

  & > li > a {
    color: $colorThree;
    transition: color 0.5s ease 0s;

    &:hover {
      color: $hover;
    }
  }
}



.blog-text-big {
    color: $colorTwo;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -3px;

    //line-height: 0.4em;

    opacity: 60%;
}

.blog-text-no-big {
    color: $colorTwo;
    font-size: 1em;
    //font-weight: 100;
    //letter-spacing: -3px;

    //line-height: 0.4em;

    opacity: 70%;
}





// links
// -----

a,
a.blog-link {
  transition: color 0.5s ease 0s, left 0.3s ease 0s;

  &:hover {
    color: $hover;
  }
}














//================================================================================

//body {
//  /* The Browser makes its best guess with its own rendering engine */
//  /* results will vary based on the browser */
//  text-rendering: auto;
//
//  /* The Browser chooses page speed over font calculations and legibility */
//  text-rendering: optimizeSpeed;
//
//  /* The Browser chooses legibility over font calculations and page speed */
//  text-rendering: optimizeLegibility;
//
//  /* The Browser chooses exact font calculations over page speed and legibility */
//  text-rendering: geometricPrecision;
//}

