// module/draw.scss
// ===============

// Font: Style & Color
// -------------------

.draw {
  stroke: $link;
  stroke-width: 1px;
  fill: none;
  fill-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;

  transition: all 0.3s ease-in-out;
}

.draw:hover {stroke: $hover;}
.draw:active {stroke: $active;}
//.draw:visited {stroke: $visited;}

