// module/icon.scss
// ===============




// icon svg
// --------

.blog-icon-light svg,
svg.blog-icon-light {
  fill: $colorTwo;
  transition: fill 0.5s ease 0s;

  &:hover {
    fill: $hover;
  }
}

.blog-icon-dark svg,
svg.blog-icon-dark {
  fill: $text;
  transition: fill 0.5s ease 0s;

  &:hover {
    fill: $hover;
  }
}

.blog-icon-neutral svg,
svg.blog-icon-neutral {
  fill: $colorThree;
  transition: fill 0.5s ease 0s;

  &:hover {
    fill: $hover;
  }
}

